.lisk-logo {
    display: block;
    width: 87px;
    height: 35px;
    background-image: url(../../img/lisk-logo-light.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
/*Uncomment, if the styling breaks*/
/*.tsd-index-panel ul.tsd-index-list {
    column-count: 1;
}*/

.container-header {
    display: flex;
    flex-direction: row;
}

.tsd-breadcrumb {
    padding-left:0.5rem;
}

.breadcrumb-end {
    margin: 0 0;
}

.tsd-index-panel a,
.tsd-index-panel .tsd-parent-kind-module a {
    color: #000000;
}
.tsd-index-panel .tsd-parent-kind-interface a {
    color: #000000;
}
.tsd-index-panel .tsd-parent-kind-enum a {
    color: #000000;
}
.tsd-index-panel .tsd-parent-kind-class a {
    color: #000000;
}
.tsd-index-panel .tsd-kind-module a {
    color: #000000;
}
.tsd-index-panel .tsd-kind-interface a {
    color: #000000;
}
.tsd-index-panel .tsd-kind-enum a {
    color: #000000;
}
.tsd-index-panel .tsd-kind-class a {
    color: #000000;
}
.tsd-index-panel .tsd-is-private a {
    color: var(--color-gray-70);
}

.tsd-index-panel a, .tsd-index-panel .tsd-parent-kind-module a {
    overflow-wrap: break-word;
}

.tsd-generator {
    margin-bottom: 12.5rem;
}

.tsd-page-title {
    padding-top: 20px;
    box-shadow: unset;
}

.container-main {
    padding-bottom: unset;
    /*
    height: 100%;
    */
}

.tsd-page-toolbar {
    position: unset;
}

.tsd-widget.no-caption {
    width: unset;
}

.results {
    z-index: 99;
}

.body {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.body-container {
    display: flex;
    justify-content: center;
}

.toolbar .edit-this-page a {
    color: var(--link-font-color);
}

.toc.sidebar .toc-menu ul {
    margin-top: 0.5em;
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
    font-family: "Gilroy", "GilroyExtrabold", "BasierCircle";
}

.navbar-burger.is-active {
    z-index: 99;
}

.control {
    margin-left: 1em;
}

.footer-links {
    display: contents;
}

.footer-links > li {
    margin-left: 0.5rem;
}

.doc {
    margin: 0 var(--toolbar-doc-margin) 0 0;
    padding: unset;
}

.main {
    margin-left: 2rem;
    max-width: 52rem;
}

.icofont-ui-edit {
    padding-right: 0.5em;
}

.home-link {
    background: url(../../img/ico-house.svg) no-repeat 0 45%;
    background-size: 50%;
    display: block;
    padding: 0;
    width: 1.5rem;
    margin-left: 0.5rem;
}

.home-link:hover,
.home-link.is-current {
    background-image: url(../../img/ico-house-inverted.svg);
}

.navbar {
    padding: unset;
}

.nav-menu {
    margin-top: 2rem;
}

.nav {
    padding-left: 0.7rem;
    position: -webkit-sticky;
}

.navbar-right {
    margin-right: 3rem;
}

.navbar .button {
    margin-left: unset;
}

.algolia-autocomplete {
    width: 100%;
    align-self: center;
    height: 2.5rem;
}

.navbar-brand .navbar-item + .navbar-item {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.navbar-brand {
    flex: unset;
    padding: 0 0 0 0;
    padding-bottom: 0.5rem;
    /*
    font-size: 0.7em;
    */
    align-items: center;
}

.search-box {
    padding-left: 2em;
    padding-right: 2em;
    margin-right: auto;
    max-width: 48rem;
}

.nav-brand__name-area {
    padding-top:0.5rem;
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-right: 1em;
    margin-left: 13.9px;
    margin-top: unset;
}

.toolbar {
    max-width: var(--doc-max-width);
    margin-top: 2rem;
    margin-right: var(--toolbar-doc-margin);
    background-color: white;
}

.single-page::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #616778; /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -0.7rem; /* Also needed for space (tweak if needed) */
    margin-right: -0.4rem; /* Also needed for space (tweak if needed) */
}

.toc.sidebar .toc-menu h3 {
    height: 1.5rem;
}

.toc.sidebar .toc-menu {
    position: -webkit-sticky;
    margin-top: -2rem;
}

.top-versions {
    display: flex;
    align-self: center;
}

.toolbar-versions {
    display: none;
}

.top-versions .version-menu {
    background-color: #101c3d;
}

.top-versions .version {
    color: inherit;
}

.top-versions .version-menu-toggle {
    color: inherit;
    background: url(../../img/chevron-white.svg) no-repeat;
    background-position: right 0.5rem top 50%;
    background-size: auto 0.5em;
    border: none;
    outline: none;
    line-height: inherit;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    position: relative;
    z-index: var(--z-index-page-version-menu);
}

.page-versions .version-menu-toggle {
    width: max-content;
}

.top-versions .version-menu-toggle {
    border-color: #ffffff;
}

.page-versions .version-menu {
    padding-top: 1.75rem;
}

.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
    max-height: calc(100vh - 3.25rem);
}

.bottom-link {
    display: flex;
    align-items: center;
}

.bottom-links {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    padding-bottom: 3rem;
    padding-top: 1.5rem;
    border-top: 1px solid #e1e1e1;
}

.navbar-content {
    margin: auto;
    display: flex;
    width: inherit;
    justify-content: center;
}

#search-input {
    color: #333;
    font-family: inherit;
    font-size:  0.95rem;
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 0.1em;
    line-height:  1.5;
    padding: 0 0.25em;
    text-align: center;
    height: 100%;
    /*
    height: -webkit-fill-available;  !* Mozilla-based browsers will ignore this. *!
    */
}

@media screen and (max-width: 768px) {
    .navbar-brand .navbar-item + .navbar-item {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-brand {
        padding: 0 0 0 4rem;
    }

    .icon-discord-2x {
        height: 1em;
        width: 1em;
    }

    .icon-discord {
        background-image: url(../../img/dc_16.svg);
    }

    .icon-github-2x {
        height: 1em;
        width: 1em;
        background-image: url(../../img/icon-github.svg);
    }

    .toolbar-versions {
        display: flex;
    }

    .top-versions {
        display: none;
    }

    .algolia-autocomplete .ds-dropdown-menu {
        min-width: calc(100vw - 2.75rem) !important;
    }

    .navbar-menu.is-active {
        position: fixed;
    }

    .body-container {
        display: unset;
        justify-content: unset;
    }
}
@media screen and (max-width: 1023px) {
    .navbar-right {
        display: flex;
        align-items: center;
    }
}
@media screen and (min-width: 769px) {
    .doc > h1.page:first-child {
        margin-top: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {

    .navbar-search {
        -ms-flex-positive: 0;
        -webkit-box-flex: 0;
        flex-grow: 0;
        justify-content: flex-end;
    }

    .navbar-menu {
        flex-grow: unset;
        width: 27rem;
    }

    .navbar-end {
        justify-content: flex-start;
    }

    .toolbar {
        max-width: var(--doc-max-width--desktop);
        width: calc(100% - var(--toc-width) - var(--toolbar-doc-margin));
    }

    /*.body-container {
      display: unset;
      justify-content: unset;
    }*/
}

@media screen and (min-width:1216px) {

    .toolbar {
        max-width: var(--doc-max-width--desktop);
        width: calc(100% - var(--toc-width--widescreen) - var(--toolbar-doc-margin));
    }

    .navbar-menu {
        flex-grow: unset;
        width: 40rem;
    }

}
