@font-face {
  font-family: "BasierCircle";
  font-style: normal;
  font-weight: 400;
  src:
    local("BasierCircle"),
    local("BasierCircle-Regular"),
    url(../font/basier/basiercircle-regular.woff) format("woff");
}

@font-face {
  font-family: "BasierCircle";
  font-style: normal;
  font-weight: 500;
  src:
    local("BasierCircle Bold"),
    local("BasierCircle-Bold"),
    url(../font/basier/basiercircle-bold.woff) format("woff");
}
