@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src:
    local("Gilroy"),
    url(../font/Gilroy-Light.woff) format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src:
    local("Gilroy Medium"),
    local("Gilroy-Medium"),
    url(../font/gilroy-extrabold.woff) format("woff");
}
