.env
.idea
public/
live/
node_modules/
master/
antora/
main/
dev-antora/
docs-core/
docs-lisk/
docs-sdk/
docs-protocol/
docs-service/
docs-manual/
development/
searchdocs-scraper/
!searchdocs-scraper/README.*
!searchdocs-scraper/config.js
