<footer class="footer">
  <p>Go to the <a href="https://lisk.io/" target="_blank">Lisk Website</a></p>
  <p>Chat with developers at <a href="https://gitter.im/LiskHQ/lisk-sdk" target="_blank">Lisk Gitter</a></p>
</footer>
