@media screen and (max-width: 468.5px) {
  .algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
    width: calc(100vw - 8rem);
    /* height: 20rem; */
  }

  .footer_icon > p {
    display: none;
  }

  .footer > .community_icons {
    width: 10em;
  }
}

.nav-panel-explore {
  bottom: 3.5em;
}

@media screen and (min-width: 1024px) {
  .navbar-end > .navbar-item {
    margin-left: 1em;
  }

  .navbar {
    padding: 2em 2em 2em 1.5em;
  }

  .navbar-brand {
    padding-left: unset;
    align-items: center;
  }

  .nav {
    top: calc(var(--navbar-height) + var(--toolbar-height));
  }

  .nav-panel-explore .context {
    padding: 0.5em 1.5em;
  }

  .components-versions {
    width: calc(var(--nav-width) - 1.5em);
    display: inherit;
    padding: 0 1em 0 0;
    justify-content: space-between;
    border-right: 1px solid var(--color-platinum-gray);
  }

  .top-logo {
    padding-right: 9rem;
  }

  .navbar-link {
    padding-right: 1.5em;
  }

  .navbar-link::after {
    background-image: url(../img/chevron.svg);
    background-repeat: no-repeat;
    background-size: 0.7rem;
    background-position: center;
    border-style: none;
    transform: unset;
    -webkit-transform: unset;
    height: 1rem;
    width: 1rem;
    top: auto;
    right: 0.1em;
    align-self: end;
  }

  .toolbar-search {
    display: none;
  }

  .edit-this-page {
    display: flex;
  }
}

.toolbar {
  padding: 0 2em 0 1.5em;
}

.top-logo {
  display: flex;
  align-items: baseline;
}

.medium-zoom-image {
  z-index: 999;
}

.page-versions {
  margin: unset;
}

.page-versions .version-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: linear-gradient(to bottom, var(--page-version-menu-background) 0%, var(--page-version-menu-background) 100%) no-repeat;
  margin: 1.375rem 0.5rem 0 0;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
  min-width: unset;
}

.search-box {
  padding-right: 2em;
  padding-left: 1em;
  /* margin-right: 5rem; */
  width: 100%;
  align-self: start;
  height: 2.5rem;
}

.algolia-autocomplete {
  width: 100%;
  align-self: center;
  height: 2.5rem;
}

/* .algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  max-height: calc(100vh - 3.25rem);
} */

#search-input-toolbar,
#search-input {
  background-image: url(../img/search-outlined.svg);
  background-position: 1em;
  background-repeat: no-repeat;
  color: #333;
  font-family: inherit;
  font-size: 0.95rem;
  width: 100%;
  height: 2.2rem;
  border: 1px solid #dbdbdb;
  line-height: 1.5;
  padding: 0 0.25em;
  text-align: start;
  border-radius: 53px;
  padding-left: 3em;
  /*
  height: -webkit-fill-available;  !* Mozilla-based browsers will ignore this. *!
  */
}

/* .navbar {
  height: 5.5rem;
} */
.navbar-brand {
  align-items: center;
}

.navbar-item {
  padding: 0.5rem;
}

.navbar-link {
  padding: 0.5rem 1.5rem 0.5rem 0.2rem;
}

.lisk-logo {
  height: 2rem;
  background-image: url(../img/lisk-symbol.svg);
  background-repeat: no-repeat;
  width: 2rem;
}

.docs-logo {
  height: 1.5rem;
  width: 5.5rem;
  padding: 0.25rem;
  background-image: url(../img/docs.svg);
  background-repeat: no-repeat;
}

/* .toolbar {
 top: 5.5rem;
} */

.theme-toggle {
  background-repeat: no-repeat;
  background-position: center;
  align-self: start;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.5rem;
  border-style: none;
}

.theme-toggle.dark:hover {
  background-image: url(../img/moon.svg);
}

.pencil {
  background-image: url(../img/pencil.svg);
  background-repeat: no-repeat;
  height: 1rem;
  width: 1rem;
  padding: 0 1em;
  vertical-align: middle;
}

.home-link {
  background: url(../img/home-outlined.svg) no-repeat center;
}

.home-link:hover,
.home-link.is-current {
  background-image: url(../img/home-filled.svg);
}

.nav-toggle {
  margin-left: 1rem;
}

.nav-menu {
  padding: 0.5rem 1.5em;
}

.navbar-end .navbar-item.has-dropdown:hover .navbar-link::after {
  transform: rotate(180deg);
}

.edit-this-page:hover a {
  color: var(--color-ultramarine-blue);
  text-decoration: none;
}

.edit-this-page:hover .pencil {
  background-image: url(../img/pencil-filled.svg);
}

.nav-panel-explore .component .version a {
  border: 1px solid var(--color-silver-gray);
  box-sizing: border-box;
  border-radius: 14.5px;
  color: var(--color-blue-gray);
  text-decoration: none;
  opacity: 1;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 0.4em 1em 0.2em 1em;
}

.nav-panel-explore .component .version a:hover {
  border: 1px solid var(--color-ink-blue);
  color: var(--color-ink-blue);
}

.nav-panel-explore .component .version.is-current a,
.nav-panel-explore .component .version a:focus {
  background: var(--color-ink-blue);
  color: var(--color-white);
}

.nav-list > .nav-item[data-depth="1"] > span,
.nav-list > .nav-item[data-depth="1"] > a {
  text-transform: uppercase;
  margin-left: 0.7em;
}

.nav-panel-explore .context:hover {
  color: var(--color-ultramarine-blue);
  background-color: var(--color-athens-white);
}

.nav-panel-explore.is-active .context .version::after {
  transform: rotate(180deg);
  margin-left: 0.5em;
}

.nav-item-toggle {
  margin-left: -1.5em;
}

.nav-list {
  margin: 0 0 0 1rem;
}

.nav-item-toggle ~ .nav-list {
  margin-left: 0.7em;
}

.nav-list > .nav-item[data-depth="1"] {
  margin-top: 1em;
}

.nav-menu > .title {
  display: none;
}

.doc > h1.page:first-child {
  font-size: 1.75em;
  font-weight: 600;
}

.doc h2 {
  font-size: 1.35em;
}

.doc h3 {
  font-size: 1.25em;
}

.doc h4 {
  font-size: 1.15em;
}

.doc h1,
.doc h2 {
  font-family: "Gilroy", "Roboto", sans-serif;
  line-height: 120%;
}

.doc h3:not(.discrete),
.doc h4:not(.discrete) {
  color: var(--color-zodiac-blue);
  font-family: "Gilroy", "Roboto", sans-serif;
  line-height: 150%;
  font-weight: normal;
}

.doc {
  font-family: "BasierCircle", "Roboto", sans-serif;
  max-width: var(--doc-max-width--desktop);
}

.doc .sidebarblock {
  background-color: var(--color-platinum-gray);
}

.doc .sidebarblock > .content > .title {
  font-size: 1.15em;
}

.doc .imageblock {
  border: var(--color-platinum-gray) 1px solid;
  border-radius: 20px;
}

.doc .imageblock .title {
  margin: unset;
}

.doc .admonitionblock .title,
.doc .exampleblock .title,
.doc .imageblock .title,
.doc .literalblock .title,
.doc .listingblock .title,
.doc .openblock .title,
.doc .tableblock caption {
  padding: 0.5em;
  font-size: calc(16 / var(--rem-base) * 1rem);
  font-style: unset;
}

.doc .listingblock pre:not(.highlight),
.doc .literalblock pre,
.doc pre.highlight,
.doc pre.highlight code {
  border-radius: 20px;
}

.doc a:hover {
  color: var(--link_hover-font-color);
  text-decoration: underline;
}

.doc .colist > table code,
.doc p code,
.doc thead code {
  background-color: var(--color-platinum-gray);
}

.doc .admonitionblock td.content {
  border-radius: 20px;
}

pre {
  background-color: var(--color-platinum-gray);
}

.exampleblock,
.doc .listingblock {
  display: flex;
  flex-direction: column;
}

.exampleblock .title,
.doc .listingblock .title {
  display: flex;
  align-self: center;
}

/* Footer */

footer.footer {
  position: sticky;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem 0.5rem 1.5em;
  border-top: 1px solid var(--color-platinum-gray);
}

.community_icons {
  display: flex;
  justify-content: space-between;
  width: 20em;
  align-items: center;
}

.footer_icon {
  display: flex;
  padding: 0 0 0 1.5rem;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
}

.icon-discourse {
  background-image: url(../img/discourse-logo-large.svg);
}

.icon-github {
  background-image: url(../img/icon-gh.svg);
}

.icon-discord-2x {
  background-image: url(../img/icon-discord.svg);
  height: 2em;
  width: 2em;
}

.icon-discord {
  background-image: url(../img/icon-discord.svg);
}

.icon-github-2x {
  background-image: url(../img/icon-gh.svg);
  margin-left: 1em;
  height: 1.75em;
  width: 1.75em;
}
