:root {
  --color-zodiac-blue: #0c152e;
  --color-ink-blue: #254898;
  --color-ultramarine-blue: #4070f4;
  --color-ufo-green: #2bd67b;
  --color-copacabana-yellow: #f7e36d;
  --color-blue-gray: #8a8ca2;
  --color-silver-gray: #c5cfe4;
  --color-platinum-gray: #dfe6f2;
  --color-athens-white: #f7f9fb;
  --color-candy-pink: #ffd0d1;
  --color-fury-red: #ff4557;
  --navbar_hover-background: var(--color-white);
  --nav-background: var(--color-white);
  --navbar-font-color: var(--color-ultramarine-blue);
  --navbar-height: calc(99 / var(--rem-base) * 1rem);
  --nav-height--desktop: calc(var(--body-min-height) - var(--toolbar-height));
  --page-version-menu-background: var(--color-athens-white);
  --nav-secondary-background: var(--color-athens-white);
  --nav-width: calc(324 / var(--rem-base) * 1rem);
  /* fonts */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: 1.0625em; /* 17px */
  --body-font-size--desktop: 1.125em; /* 18px */
  --body-font-size--print: 0.9375em; /* 15px */
  --body-line-height: 30.5;
  --body-font-color: var(--color-black);
  --body-font-weight-bold: 500;
  --monospace-font-family: "Roboto Mono", monospace;
  --monospace-font-weight-bold: 500;
  --body-font-family: "BasierCircle", sans-serif;
  /* doc */
  --doc-font-color: var(--color-black);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(18 / var(--rem-base) * 1rem);
  --doc-line-height: 1.5;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  --heading-font-color: var(--color-black);
  --heading-font-weight: normal;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: #1565c0;
  --link_hover-font-color: #104d92;
  --link_unresolved-font-color: var(--important-color);
  --caption-font-color: var(--color-ink-blue);
  /*
  --nav-width: calc(279 / var(--rem-base) * 1rem);
  */
}
