@media screen and (min-width: 1024px) {
  .navbar-end .navbar-link,
  .navbar-end > .navbar-item {
    color: var(--color-black);
  }

  .navbar-link::after {
    background-image: url(../img/chevron.svg);
  }
}

.page-versions .version-menu {
  background: linear-gradient(to bottom, var(--page-version-menu-background) 0%, var(--page-version-menu-background) 100%) no-repeat;
}

#search-input {
  color: #333;
}

.navbar {
  background: var(--color-white);
}

.navbar-brand .navbar-item:first-child {
  color: var(--color-black);
}

.lisk-logo {
  background-image: url(../img/lisk-symbol.svg);
}

.docs-logo {
  background-image: url(../img/docs.svg);
}

.theme-toggle {
  background-image: url(../img/moon.svg);
  background-color: var(--color-white);
}

.theme-toggle:hover,
.theme-toggle.dark { background-color: #666; }

.navbar-burger span {
  background-color: var(--color-zodiac-blue);
}
