@media screen and (min-width: 1024px) {
  .nav {
    top: 6rem;
  }

  .components-versions {
    width: 15rem;
    display: inherit;
  }
}

.medium-zoom-image {
  z-index: 999;
}

.page-versions .version-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: linear-gradient(to bottom, var(--page-version-menu-background) 0%, var(--page-version-menu-background) 100%) no-repeat;
  margin: 1.375rem 1.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
  min-width: unset;
}

.search-box {
  padding-left: 2em;
  padding-right: 2em;
  margin-right: auto;
  width: 100%;
}

.algolia-autocomplete {
  width: 100%;
  align-self: center;
}

/* .algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  max-height: calc(100vh - 3.25rem);
} */

#search-input {
  color: #333;
  font-family: inherit;
  font-size: 0.95rem;
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 0.1em;
  line-height: 1.5;
  padding: 0 0.25em;
  text-align: center;
  height: 100%;
  /*
  height: -webkit-fill-available;  !* Mozilla-based browsers will ignore this. *!
  */
}
