:root {
  --color-zodiac-blue: #0c152e;
  --color-ink-blue: #254898;
  --color-ultramarine-blue: #4070f4;
  --color-ufo-green: #2bd67b;
  --color-copacabana-yellow: #f7e36d;
  --color-blue-gray: #8a8ca2;
  --color-silver-gray: #c5cfe4;
  --color-platinum-gray: #dfe6f2;
  --color-athens-white: #f7f9fb;
  --color-candy-pink: #ffd0d1;
  --color-fury-red: #ff4557;
  --navbar_hover-background: var(--color-white);
  --nav-background: var(--color-white);
  --navbar-font-color: var(--color-ultramarine-blue);
  --navbar-height: calc(99 / var(--rem-base) * 1rem);
  --nav-height--desktop: calc(var(--body-min-height) - var(--toolbar-height));
  --page-version-menu-background: var(--color-athens-white);
  --nav-secondary-background: var(--color-athens-white);
  --nav-width: calc(324 / var(--rem-base) * 1rem);
  --panel-background: var(--color-athens-white);
  /* fonts */
  --body-line-height: 30.5;
  --body-font-color: var(--color-black);
  --body-font-family: "BasierCircle", sans-serif;
  /* doc */
  --doc-font-color: var(--color-black);
  --doc-font-size--desktop: calc(18 / var(--rem-base) * 1rem);
  --doc-line-height: 1.5;
  --heading-font-color: var(--color-black);
  --heading-font-weight: normal;
  --link-font-color: var(--color-ultramarine-blue);
  --link_hover-font-color: var(--color-ultramarine-blue);
  --link_unresolved-font-color: var(--important-color);
  --caption-font-color: var(--color-ink-blue);
  /*  footer  */
  --footer-background: var(--color-athens-white);
  --footer-font-color: var(--color-zodiac-blue);
  --footer-link-font-color: var(--color-zodiac-blue);
}
