:root {
  --color-zodiac-blue: #0c152e;
  --color-ink-blue: #254898;
  --color-ultramarine-blue: #4070f4;
  --color-ufo-green: #2bd67b;
  --color-copacabana-yellow: #f7e36d;
  --color-silver-gray: #c5cfe4;
  --color-platinum-gray: #dfe6f2;
  --color-athens-white: #f7f9fb;
  --color-candy-pink: #ffd0d1;
  --color-fury-red: #ff4557;
  --navbar_hover-background: var(--color-zodiac-blue);
  /* base */
  --body-background: var(--color-black);
  --panel-background: var(--color-ink-blue);
  --panel-border-color: var(--color-ultramarine-blue);
  --scrollbar-thumb-color: var(--color-ufo-green);
  /* navbar */
  --navbar-background: var(--color-zodiac-blue);
  --navbar-font-color: var(--color-white);
  --navbar_hover-background: var(--color-white);
  --navbar-button-background: var(--color-black);
  --navbar-height: calc(99 / var(--rem-base) * 1rem);
  --nav-height--desktop: calc(var(--body-min-height) - var(--toolbar-height));
}
