@media screen and (min-width: 1024px) {
  .navbar-end .navbar-link,
  .navbar-end > .navbar-item {
    color: var(--color-white);
  }
}

.top-logo {
  display: flex;
  align-items: baseline;
}

.page-versions .version-menu {
  background: linear-gradient(to bottom, var(--page-version-menu-background) 0%, var(--page-version-menu-background) 100%) no-repeat;
}

.navbar {
  background: var(--color-black);
}

.navbar-brand .navbar-item:first-child {
  color: var(--color-black);
}

.lisk-logo {
  background-image: url(../img/lisk-symbol.svg);
  background-color: var(--color-white);
}

.docs-logo {
  background-color: var(--color-white);
}

.theme-toggle {
  background-image: url(../img/moon-filled.svg);
  background-color: var(--color-black);
}

.navbar-burger span {
  background-color: var(--color-white);
}

.nav-toggle {
  background: url(../img/collapse-icon-filled.svg) no-repeat 50% 47.5%;
}

.pencil {
  background-image: url(../img/pencil-filled.svg);
}

.theme-toggle:hover {
  background-image: url(../img/moon.svg);
}

.medium-zoom-overlay {
  background: var(--color-black)!important;
}
