:root {
  --color-zodiac-blue: #0c152e;
  --color-ink-blue: #254898;
  --color-ultramarine-blue: #4070f4;
  --color-ufo-green: #2bd67b;
  --color-copacabana-yellow: #f7e36d;
  --color-blue-gray: #8a8ca2;
  --color-silver-gray: #c5cfe4;
  --color-platinum-gray: #dfe6f2;
  --color-athens-white: #f7f9fb;
  --color-candy-pink: #ffd0d1;
  --color-fury-red: #ff4557;
  --navbar_hover-background: var(--color-white);
  --nav-background: var(--color-white);
  --navbar-font-color: var(--color-ultramarine-blue);
  --navbar-height: calc(99 / var(--rem-base) * 1rem);
  --nav-height--desktop: calc(var(--body-min-height) - var(--toolbar-height));
  --page-version-menu-background: var(--color-athens-white);
  --nav-secondary-background: var(--color-athens-white);
  /*
  --nav-width: calc(279 / var(--rem-base) * 1rem);
  */
}
