@media screen and (min-width: 1024px) {
  .nav {
    top: 6rem;
  }
}

.search-box {
  padding-left: 2em;
  padding-right: 2em;
  margin-right: auto;
  width: 100%;
}

.algolia-autocomplete {
  width: 100%;
  align-self: center;
}

/* .algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  max-height: calc(100vh - 3.25rem);
} */

#search-input {
  color: #333;
  font-family: inherit;
  font-size: 0.95rem;
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 0.1em;
  line-height: 1.5;
  padding: 0 0.25em;
  text-align: center;
  height: 100%;
  /*
  height: -webkit-fill-available;  !* Mozilla-based browsers will ignore this. *!
  */
}
