:root {
  --navbar_hover-background: var(--color-zodiac-blue);
  /* base */
  --body-background: var(--color-zodiac-blue);
  --panel-background: var(--color-zodiac-blue);
  --panel-border-color: var(--color-platinum-gray);
  --scrollbar-thumb-color: var(--color-ink-blue);
  /* fonts */
  --body-font-color: var(--color-silver-gray);
  /* doc */
  --doc-font-color: var(--color-silver-gray);
  --heading-font-color: var(--color-white);
  --link-font-color: var(--color-ultramarine-blue);
  --link_hover-font-color: var(--color-ultramarine-blue);
  --link_unresolved-font-color: var(--important-color);
  --caption-font-color: var(--color-ink-blue);
  --table-footer-background: linear-gradient(to bottom, var(--color-zodiac-blue) 0%, var(--color-black) 100%);
  /* navbar */
  --navbar-background: var(--color-zodiac-blue);
  --navbar-font-color: var(--color-platinum-gray);
  --navbar_hover-background: var(--color-zodiac-blue);
  --navbar-button-background: var(--color-zodiac-blue);
  /* toolbar */
  --toolbar-font-color: var(--color-athens-white);
  --toolbar-muted-color: var(--color-athens-white);
  --page-version-menu-background: var(--color-black);
  /* nav */
  --nav-background: var(--color-zodiac-blue);
  --nav-secondary-background: var(--color-black);
  --nav-muted-color: var(--color-athens-white);
  /*  footer  */
  --footer-background: var(--color-zodiac-blue);
  --footer-font-color: var(--color-athens-white);
  --footer-link-font-color: var(--color-platinum-gray);
}
