:root {
  /* navbar */
  --navbar_hover-background: var(--color-white);
  --nav-background: var(--color-white);
  --navbar-font-color: var(--color-ultramarine-blue);
  --page-version-menu-background: var(--color-athens-white);
  --nav-secondary-background: var(--color-athens-white);
  --panel-background: var(--color-athens-white);
  /* fonts */
  --body-font-color: var(--color-black);
  /* doc */
  --doc-font-color: var(--color-black);
  --heading-font-color: var(--color-black);
  --link-font-color: var(--color-ultramarine-blue);
  --link_hover-font-color: var(--color-ultramarine-blue);
  --link_unresolved-font-color: var(--important-color);
  --caption-font-color: var(--color-ink-blue);
  /*  footer  */
  --footer-background: var(--color-athens-white);
  --footer-font-color: var(--color-zodiac-blue);
  --footer-link-font-color: var(--color-zodiac-blue);
}
