<footer class="footer">
    <div class="footer__container">
        <div class="footer__copyright">
            <div class="institutional-links-2">
                <span class="institutional-links-2__item">© 2020 Lisk Foundation</span>
              <ul class="footer-links">
                <li><a class="institutional-links-2__item" href="https://lisk.io/terms-conditions" class="institutional-links-2-item">Terms & Conditions</a></li>
                <li><a class="institutional-links-2__item" href="https://lisk.io/privacy" class="institutional-links-2-item">Privacy Policy</a></li>
                <li><a class="institutional-links-2__item" href="https://lisk.io/contact" class="institutional-links-2-item">Contact</a></li>
              </ul>
            </div>
            <p class="footer__copyright-text">Lisk is a foundation registered in Zug, Switzerland
            </p>
        </div>
        <div class="footer__logo-container">
            <img src="{{uiRootPath}}/img/lisk-logo-light.svg" class="footer__lisk-logo"/>
        </div>
        <div class="community-section">
            <p class="community-section__text">Follow Lisk on: </p>
            <div class="community-section__icons">
                <a href="https://github.com/LiskHQ" title="GitHub" target="_blank" class="footer__icon icon-github"></a>
                <a href="https://twitter.com/LiskHQ" title="Twitter" target="_blank" class="footer__icon icon-twitter"></a>
                <a href="https://lisk.chat" title="Discord" target="_blank" class="footer__icon icon-discord"></a>
                <a href="https://www.reddit.com/r/Lisk/" title="Reddit" target="_blank" class="footer__icon icon-reddit"></a>
            </div>
        </div>
    </div>
</footer>
