<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="{{or site.url (or siteRootUrl siteRootPath)}}" class="lisk-logo"></a>
      {{site.title}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Home</a>
        <a class="navbar-link" href="https://lisk.io/documentation/lisk-sdk">Lisk SDK</a>
        <a class="navbar-link" href="https://lisk.io/documentation/lisk-core">Lisk Core</a>
      </div>
    </div>
  </nav>
</header>
