<header class="header">
  <nav class="navbar">
      <div class="navbar-content">
        <div class="navbar-brand">
          <a href="https://lisk.io/documentation" class="lisk-logo"></a>
          <span  class="nav-brand__name-area">
              <strong class="nav-brand__name-area__title">{{site.title}}</strong>
          </span>
          <button class="navbar-burger" data-target="topbar-nav">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div id="topbar-nav" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="#">Docs</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="https://lisk.io/documentation/lisk-sdk/">Lisk SDK</a>
                <a class="navbar-item" href="https://lisk.io/documentation/lisk-core/">Lisk Core</a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="https://lisk.io/documentation/lisk-sdk/tutorials/index.html">Tutorials</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="https://lisk.io/documentation/lisk-sdk/tutorials/hello-world.html"><strong>Hello World</strong>: Build a blockchain application 101</a>
                <a class="navbar-item" href="https://lisk.io/documentation/lisk-sdk/tutorials/cashback.html"><strong>Cashback</strong>: How to extend from another transaction type</a>
                <a class="navbar-item" href="https://lisk.io/documentation/lisk-sdk/tutorials/transport.html"><strong>Transport</strong>: How to connect IoT devices to the network</a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="#">API</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="https://lisk.io/documentation/lisk-core/api.html">Testnet</a>
                <a class="navbar-item" href="https://lisk.io/documentation/lisk-core/api-mainnet.html">Mainnet</a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="#">Reference</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="https://lisk.io/documentation/lisk-sdk/lisk-elements/packages.html">Lisk Elements</a>
                <a class="navbar-item" href="https://lisk.io/documentation/lisk-sdk/lisk-commander/user-guide.html">Lisk Commander</a>
                <a class="navbar-item" href="https://lisk.io/documentation/lisk-sdk/lisk-framework">Lisk Framework</a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="#">Resources</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="https://lisk.io/roadmap">Roadmap</a>
                <a class="navbar-item" href="https://lisk.io/lisk-builders">Lisk Builders Program</a>
                <a class="navbar-item" href="https://lisk.io/community">Community</a>
                <a class="navbar-item" href="https://lisk.io/apps">App List</a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="#">Github</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" target="_blank" href="https://github.com/LiskHQ/lisk-sdk">Lisk SDK <i class="fa fa-external-link"></i></a>
                <a class="navbar-item" target="_blank" href="https://github.com/LiskHQ/lisk-core">Lisk Core <i class="fa fa-external-link"></i></a>
                <a class="navbar-item" target="_blank" href="https://github.com/LiskHQ/lisk-desktop">Lisk Desktop <i class="fa fa-external-link"></i></a>
                <a class="navbar-item" target="_blank" href="https://github.com/LiskHQ/lisk-mobile">Lisk Mobile <i class="fa fa-external-link"></i></a>
                <a class="navbar-item" target="_blank" href="https://github.com/LiskHQ/lisk-sdk-examples">Example Applications <i class="fa fa-external-link"></i></a>
              </div>
            </div>
            <div class="navbar-item button-back">
              <span class="control">
                <a class="button is-primary" href="https://lisk.io">Back to lisk.io</a>
              </span>
            </div>
          </div>
        </div>
      </div>
  </nav>
</header>
