    <title>{{{detag (or page.title defaultPageTitle)}}}
        - Lisk
        {{#if (eq page.component.name "lisk-core") }}
          Core
        {{else if (eq page.component.name "lisk-protocol") }}
          Protocol
        {{else}}
          SDK
        {{/if}}Docs | Lisk.io</title>
