<header class="header">
  <nav class="navbar">
      <div class="navbar-content">
        <div class="navbar-brand">
          <a href="https://lisk.io/documentation" class="lisk-logo"></a>
          <span  class="nav-brand__name-area">
              <strong class="nav-brand__name-area__title">{{site.title}}</strong>
          </span>
          <button class="navbar-burger" data-target="topbar-nav">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div id="topbar-nav" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="https://lisk.io/documentation/lisk-sdk/">Lisk SDK</a>
            <a class="navbar-item" href="https://lisk.io/documentation/lisk-core/">Lisk Core</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="#">API</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="https://lisk.io/documentation/lisk-core/api.html">Testnet</a>
              </div>
            </div>
            <div class="navbar-item button-back">
              <span class="control">
                <a class="button is-primary" href="https://lisk.io">Back to lisk.io</a>
              </span>
            </div>
          </div>
        </div>
      </div>
  </nav>
</header>
