<div class="navigation-container">
  <aside class="navigation" role="navigation">
    <button class="navigation-close"></button>
    <div class="panels">
{{> navigation-domain}}
{{> navigation-explore}}
    </div>
  </aside>
</div>
