<div class="navigation-container" data-component="{{page.component.name}}" data-version="{{page.version}}">
  <aside class="navigation" role="navigation">
    <div class="panels">
{{> navigation-menu}}
{{> navigation-explore}}
    </div>
  </aside>
</div>
