<div class="bottom-links">
  <div><a href="{{page.previous}}"><i class="icofont-double-left icofont-3x"></i></a></div>
  <div><a href="{{page.next}}"><i class="icofont-double-right icofont-3x"></i></a></div>
</div>
