html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 1.2em;
  }
}

body {
  background: var(--body-background);
  color: var(--body-font-color);
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code,
kbd,
pre {
  font-family: "Roboto Mono", monospace;
}

b,
dt,
strong,
th {
  font-weight: 500;
}

em em {
  font-style: normal;
}

strong strong {
  font-weight: normal;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  line-height: 1.15;
  margin: 0;
}

button::-moz-focus-inner {
  border: none;
  padding: 0;
}
