footer.footer {
  font-size: 0.75rem;
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  padding: 1.5rem;
}

.footer p {
  margin: 0.5rem 0;
}

.footer a {
  color: var(--footer-link-font-color);
}
