footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: 0.75rem;
  line-height: 1.6;
  padding: 1.5rem;
}

.footer p {
  margin: 0.5rem 0;
}

.footer a {
  color: var(--footer-link-font-color);
}
