body {
  padding-top: 0;
}

header,
.toolbar,
.toc {
  display: none !important;
}

footer.footer {
  border-top: 1px solid #ddd;
  background-color: inherit;
  padding: 0;
}

pre code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.doc {
  max-width: 100%;
  margin: auto;
  padding: 0 1rem 1rem 1rem;
}
