:root {
  --color-text: #222;
  --color-navbar-bg: #0a0a0a;
  --color-navbar-bg-focus: #000;
  --color-navbar-text: #fff;
  --height-navbar: 3.25rem;
  --height-drawer: 2.5rem;
  --height-toolbar: 2.5rem;
  --height-to-body: var(--height-navbar);
  --height-min-body: calc(100vh - var(--height-to-body));
  --height-nav: var(--height-min-body);
  --height-nav-mobile: calc(var(--height-min-body) - var(--height-toolbar));
  --height-nav-panel: calc(var(--height-nav) - var(--height-drawer));
  --height-nav-panel-mobile: calc(var(--height-nav-mobile) - var(--height-drawer));
  --width-nav: 16rem;
  --width-doc: 54rem;
  --width-doc-mobile: 40rem;
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
}
