.icofont-external-link {
  display: inline-block;
  margin-left: 1em;
}

@media screen and (min-width: 2400px) {
  html {
    font-size: var(--body-font-size--desktop);
  }

  .doc {
    align-self: center;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
