pre > code.dark .line:before {
  color: rgba(255, 255, 255, 0.75);
}

pre > code .line {
  display: inline-block;
  position: relative;
  padding-left: calc(2ch + 18px );
}
pre > code .line:before {
  box-sizing: content-box;
  display: inline-block;
  text-align: right;
  width: 2ch;
  content: attr(start);
  padding-right: 9px;
  padding-left: 9px;
  margin-left: calc(-2ch + -27px );
  margin-right: 9px;
  color: rgba(0, 0, 0, 0.3);
  background-color: none;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
pre > code .line:first-child:before {
  padding-top: 0;
  margin-top: 0;
  border-top-left-radius: 1em;
}
pre > code .line:last-child:before {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom-left-radius: 1em;
}
pre > code .line.width-3 {
  padding-left: calc(3ch + 18px );
}
pre > code .line.width-3:before {
  width: 3ch;
  margin-left: calc(-3ch + -27px );
}
pre > code .line.width-4 {
  padding-left: calc(4ch + 18px );
}
pre > code .line.width-4:before {
  width: 4ch;
  margin-left: calc(-4ch + -27px );
}
pre > code .line.width-5 {
  padding-left: calc(5ch + 18px );
}
pre > code .line.width-5:before {
  width: 5ch;
  margin-left: calc(-5ch + -27px );
}
pre > code .line.width-6 {
  padding-left: calc(6ch + 18px );
}
pre > code .line.width-6:before {
  width: 6ch;
  margin-left: calc(-6ch + -27px );
}
pre > code .line:first-child:before {
  padding-top: 9px;
  margin-top: -9px;
  margin-left: calc(-4ch + -27px );
  border-top-left-radius: 1em;
}
pre > code .line:last-child:before {
  padding-bottom: 9px;
  margin-bottom: -9px;
  border-bottom-left-radius: 1em;
}
