.lisk-logo {
  display: block;
  width: 86px;
  height: 35px;
  background-image: url(../img/lisk-logo-light.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.body-container {
  display: flex;
  justify-content: center;
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
  font-family: "Gilroy", "Gilrozextarold", "BasierCircle";
}

.control {
  margin-left: 1em;
}

.footer-links {
  display: contents;
}

.footer-links > li {
  margin-left: 0.5rem;
}

.doc {
  margin: 0 1.5rem 0 0;
  padding: unset;
}

.main {
  margin-left: 2rem;
}

.icofont-ui-edit {
  padding-right: 0.5em;
}

.home-link {
  background: url(../img/ico-house.svg) no-repeat 0 45%;
  background-size: 50%;
  display: block;
  height: 1.5rem;
  padding: 0;
  width: 1.5rem;
  margin-left: 0.5rem;
}

.home-link:hover,
.home-link.is-current {
  background-image: url(../img/ico-house-inverted.svg);
}

.navbar {
  padding: unset;
}

.nav-menu {
  margin-top: 1.3rem;
}

.nav {
  padding-left: 0.7rem;
}

.navbar .button {
  margin-left: unset;
}

.algolia-autocomplete {
  width: 100%;
  align-self: center;
}

.navbar-brand .navbar-item + .navbar-item {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.navbar-brand {
  width: var(--nav-width);
  flex: unset;
  padding: 0 0 0 20px;
  font-size: 0.7em;
  align-items: center;
}

.search-box {
  margin-left: 2em;
  margin-right: 2em;
}

.nav-brand__name-area {
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-right: 1em;
  margin-left: 13.9px;
  margin-top: unset;
}

.toolbar {
  max-width: var(--doc-max-width);
  margin-top: 2rem;
  background-color: white;
}

.single-page {
  list-style: circle;
}

.toc.sidebar .toc-menu h3 {
  height: 3.3rem;
}

.top-versions {
  display: flex;
  align-self: center;
}

.toolbar-versions {
  display: none;
}

.top-versions .version-menu {
  background-color: #101c3d;
}

.top-versions .version {
  color: inherit;
}

.page-versions .version-menu-toggle {
  width: max-content;
}

.page-versions .version-menu {
  padding-top: 1.75rem;
}

.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  max-height: calc(100vh - 3.25rem);
}

.bottom-link {
  display: flex;
  align-items: center;
}

.bottom-links {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-bottom: 3rem;
  padding-top: 1.5rem;
  border-top: 1px solid #e1e1e1;
}

.navbar-content {
  margin: auto;
  display: flex;
  width: inherit;
  justify-content: space-between;
}

#search-input {
  color: #333;
  font-family: inherit;
  font-size:  0.95rem;
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 0.1em;
  line-height:  1.5;
  padding: 0 0.25em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .navbar-brand .navbar-item + .navbar-item {
    padding-left: 0;
    padding-right: 0;
  }

  .icon-discord-2x {
    height: 1em;
    width: 1em;
  }

  .icon-discord {
    background-image: url(../img/dc_16.svg);
  }

  .icon-github-2x {
    height: 1em;
    width: 1em;
  }

  .toolbar-versions {
    display: flex;
  }

  .top-versions {
    display: none;
  }

  .algolia-autocomplete .ds-dropdown-menu {
    min-width: calc(100vw - 2.75rem) !important;
  }

  .navbar-menu.is-active {
    position: fixed;
  }

}
@media screen and (max-width: 1023px) {
  .navbar-right {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 769px) {
  .doc > h1.page:first-child {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {

  .navbar-search {
    -ms-flex-positive: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    justify-content: flex-end;
  }

  .navbar-end {
    justify-content: flex-start;
  }

  .toolbar {
    max-width: var(--doc-max-width--desktop);
    width: calc(100% - var(--toc-width--widescreen) + 1.5rem);
  }
}
@media screen and (min-width: 1216px) {
  .toolbar {
    max-width: var(--doc-max-width--desktop);
    width: calc(100% - var(--toc-width--widescreen) - 1.5rem);

  }
}
